In [1]:
# WDI package
!pip install wbgapi

import wbgapi as wb
import pandas as pd

Requirement already satisfied: wbgapi in /Users/yxyang/anaconda3/lib/python3.11/site-packages (1.0.12)
Requirement already satisfied: requests in /Users/yxyang/anaconda3/lib/python3.11/site-packages (from wbgapi) (2.32.5)
Requirement already satisfied: PyYAML in /Users/yxyang/anaconda3/lib/python3.11/site-packages (from wbgapi) (6.0.2)
Requirement already satisfied: tabulate in /Users/yxyang/anaconda3/lib/python3.11/site-packages (from wbgapi) (0.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /Users/yxyang/anaconda3/lib/python3.11/site-packages (from requests->wbgapi) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/yxyang/anaconda3/lib/python3.11/site-packages (from requests->wbgapi) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/yxyang/anaconda3/lib/python3.11/site-packages (from requests->wbgapi) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/yxyang/anaconda3/lib/python3.11/site-packages (from requests->wbgapi) (2025.10.5)

In [3]:
# school enrollment variables
indicators = {
    'SE.PRM.ENRR'      : 'Primary_total',
    'SE.PRM.ENRR.MA'   : 'Primary_male',
    'SE.PRM.ENRR.FE'   : 'Primary_female',

    'SE.SEC.ENRR'      : 'Secondary_total',
    'SE.SEC.ENRR.MA'   : 'Secondary_male',
    'SE.SEC.ENRR.FE'   : 'Secondary_female',

    'SE.TER.ENRR'      : 'Tertiary_total',
    'SE.TER.ENRR.MA'   : 'Tertiary_male',
    'SE.TER.ENRR.FE'   : 'Tertiary_female'
}

# data for years 2000–2024
df = wb.data.DataFrame(
    list(indicators.keys()),
    time=range(2000, 2025) 
)

df = df.rename(columns=indicators).reset_index()
df.head()

,economy,series,YR2000,YR2001,YR2002,YR2003,YR2004,YR2005,YR2006,YR2007,...,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022,YR2023,YR2024
0,ABW,SE.PRM.ENRR,NaN,110.349670,115.669449,115.985001,117.217171,116.929039,117.987740,116.970039,...,115.011409,113.637464,NaN,107.985168,108.025002,107.235336,108.599510,102.620728,NaN,107.716997
1,ABW,SE.PRM.ENRR.FE,NaN,108.178177,112.701797,112.163437,114.564247,114.752197,116.870247,115.377548,...,115.664439,NaN,NaN,108.680382,108.657242,107.233498,110.376373,103.966537,NaN,109.523810
2,ABW,SE.PRM.ENRR.MA,NaN,112.488388,118.579742,119.748779,119.765343,119.042267,119.073196,118.516037,...,114.395707,NaN,NaN,107.309937,107.404663,107.237183,106.859482,101.311989,NaN,106.005435
3,ABW,SE.SEC.ENRR,NaN,97.556534,100.163063,101.929070,100.940941,99.205353,99.865753,106.236473,...,NaN,NaN,NaN,137.829788,139.320587,135.124725,123.625908,131.802170,NaN,124.379367
4,ABW,SE.SEC.ENRR.FE,NaN,98.647430,102.293442,104.977783,101.585007,100.781471,100.671501,108.439621,...,NaN,NaN,NaN,144.720139,145.138092,143.255951,134.622040,137.287643,NaN,128.748524

In [5]:
df.to_csv("wdi_education.csv", index=False)